[submodule "extern/mxDataGenerator"]
	path = extern/mxDataGenerator
	url = ssh://git@github.com/ROCm/mxDataGenerator.git

[submodule "extern/CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
